*{
    height: 1000px;
    margin: 0;
    padding: 0;
    right: auto;
}

/* Css Destinado Para a navbar*/

header {
    height: auto;
  }

nav{
    height: auto;
}


.navigation{
    position: fixed;
    height: 70px;
    right: 0;
    left: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

.navigation h1{
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    margin: 15px;
    font-size: 35px;
    font-family: Arial;
    color: #237e18;
    background-image: -webkit-linear-gradient(
        0deg,
        #3b952e 0%,
        #53ac44 46%,
        #6cc259 86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}

ul {
    position: relative;
    height: 80px;
    left: 200px;
}

li {
    
    display: inline-block;
    margin-left: 5px;
    width: 100px;
    height: 40px;
    padding-top: 20px;
    font-weight: bold;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

li a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s;
    padding: 15px 25px;
    color: #237e18;
    background-image: -webkit-linear-gradient(
        0deg,
        #3b952e 0%,
        #53ac44 46%,
        #6cc259 86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}

.dropbtn {
    padding: 0px 0px 0px 15px;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #237e18;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-image: -webkit-linear-gradient(
        0deg,
        #3b952e 0%,
        #53ac44 46%,
        #6cc259 86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
  }

.dropdown{
    height: auto;
}
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    height: auto;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

/*Css destinado para a main*/

.box{
  background-image: url('Cachorro.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
}